<div class="span9">
<h1>Mismanagement Contacts</h1>

	<div class="hashText">
		<p><strong><a href="/hasher/6">Sloppy Stool</a></strong><br>
		Tel. (mobil): +<tt>420 775 039 387</tt><br>
		E-mail: <a href="mailto:damiensmethurst@gmail.com">damiensmethurst@gmail.com</a></p>

		<p><strong>Gobbles Wet and Salty</strong><br>
		Tel. (mobil): +<tt>420 774 482 505</tt><br>
		E-mail: <a href="mailto:kadoehring@gmail.com">kadoehring@gmail.com</a></p>

		<p><strong>Blue Loose Seal</strong><br>
		Tel. (mobil): +<tt>420 607 394 555</tt><br>
		E-mail: <a href="mailto:khenry247@yahoo.co.uk">khenry247@yahoo.co.uk</a></p>

		<p> <span class="bold">Prague Hash - <a href="mailto:pragueh3@gmail.com">pragueh3@gmail.com</a></span></p>
	</div>
</div>
