<div class="span9">
<h1>User admin</h1>
{foreach from=$users item=i}
<div class="user">{$i.name} ({$i.realname}) {$i.email}<br />
<input class="admin_checkbox" {if $i.id == $user.id}disabled=true{/if} type="checkbox" {if $i.admin}checked=true{/if} name="admin" id="admin_{$i.id}"/><label for="admin_{$i.id}"> Admin</label><br />
</div>
{/foreach}
</div>
